/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/sequence-item/style.css ***!
  \****************************************************************************************************************************************************************************************/
.cla-blocks-sequence-item-container {
	container-name: cla-blocks-sequence-item-container;
	container-type: inline-size;
}
.cla-blocks-sequence-item {
	display: flex;
	flex-direction: column;
}
