/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/sequence/editor.css ***!
  \************************************************************************************************************************************************************************************/
.cla-blocks-sequence > .block-editor-inner-blocks {
	width: 100%;
}
.cla-blocks-sequence > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.cla-blocks-sequence > .block-editor-inner-blocks > .block-editor-block-list__layout .block-list-appender {
	bottom: var(--cla-blocks-sequence-offset);
}
