/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/image-group/style.css ***!
  \**************************************************************************************************************************************************************************************/
.cla-blocks-image-group-container {
	container-name: cla-blocks-image-group-container;
	container-type: inline-size;
}
.cla-blocks-image-group {
	--cla-blocks-image-group-max-columns: 4;
	--cla-blocks-image-group-min-column-width: calc((var(--wp--style--global--content-size) - ((var(--cla-blocks--spacing--gap) + 1px) * (var(--cla-blocks-image-group-max-columns) - 1))) / var(--cla-blocks-image-group-max-columns));
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--cla-blocks-image-group-min-column-width), 1fr));
	gap: var(--cla-blocks--spacing--gap);
}
